<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>TKP-Forum</title>
        <meta charset="UTF-8"/>
    </head>

    <body>
		<center>
			<h3>
				Thread: <text th:text="${subtitle}"/>
			</h3>
		</center>
		<a th:href="|${returnUrl}|" style="padding-left:16em">Back</a>
		<center>
			<table border="1px solid black" style="width: 50%; table-layout: fixed;">
			<tr>
				<th width="30%">Sender</th>
				<th>Message</th>
			</tr>
			<tr th:each="post: ${posts}">
				<td>
					<b th:text="${post.sender}"/> <br/> <i th:text="${post.time}"/>
				</td>
				<td style="word-wrap: break-word">
					<text th:text="${post.content}"/>
				</td>
			</tr>
			</table>
			<br/>
			<script th:inline="javascript">
				/*<![CDATA[*/
					var pageLabel =  document.createElement("h1")
					pageLabel.id="Page: ";
					el.innerHTML = "Page: ";
					document.body.appendChild(el);
					var numPages = [[${numPages}]];
					var baseUrl = [[${baseUrl}]];
					var threadId = [[${threadId}]];
					for(i = 1; i <= numPages; i++) {
						newlink = document.createElement('a');
						newlink.innerHTML = i;
						newlink.setAttribute('title', i);
						newlink.setAttribute('href', baseUrl + "/thread?threadId=" + threadId + "&page=" + i);
						document.body.appendChild(newlink);
					}

				/*]]>*/
			</script>
			<table border="1px solid black" style="width: 50%">
				<tr>
					<th style="width: 25%">Your name</th>
					<th>Your comment</th>
					<th>Send</th>
				</tr>
				<br/>
				<br/>
				<form method="POST" th:action="|${baseUrl}/thread?threadId=${threadId}&amp;page=1|" id="comment">
					<tr>
						<td><input type="text" name="name" style="width: 70%"></input></td>
						<td><textarea name="content" form="comment"></textarea></td>
						<td><input type="submit" value="Send message"/></td>
					</tr>
				</form>
			</table>
		</center>
	</body>
</html>