<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>TKP-Forum!</title>
        <meta charset="UTF-8"/>
    </head>

    <body><center>
		<h2 th:text="${subtitle}"></h2>
			<table border="1px solid black" style="width:70%">
			<tr>
				<th>Subject</th>
				<th>Total messages</th>
				<th>Latest message</th>
			</tr>
			<tr th:each="subject: ${subjects}">
				<td>
					<a th:href="|${baseUrl}/subject?subjectId=${subject.uid}|">
						<i th:text="${subject.name}"/>
					</a>
				</td>
				<td><text th:text="${subject.collectivePostCount}"/></td>
				<td><text th:text="${subject.lastPostDate}"/></td>
			</tr>
		</table>
    </center></body>
	<footer>
	<center>
		<br/><br/>
		<a th:href="|${baseUrl}/newSubject|">Create a new subject</a><br/>
		<a href="https://github.com/organize/TKP-forum">GitHub</a>
		<h3>© Axel Wallin - 2016</h3>
	</center>
	</footer>
</html>