<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>TKP-Forum</title>
        <meta charset="UTF-8"/>
    </head>

    <body>
	<center>
		<form method="POST" th:action="|${baseUrl}/newSubject|" id="comment">
			Subject <b>name</b><br/>
			<input type="text" maxlength="25" name="subjectName" style="width: 35%"/><br/><br/>
			<input type="submit" style="height:50px; width:100px" value="Post"/>
		</form>
	</center>
	</body>
</html>