<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>TKP-Forum</title>
        <meta charset="UTF-8"/>
    </head>

    <body>
	<center>
		<form method="POST" th:action="|${baseUrl}/newThread?subject=${subjectId}|" id="comment">
			Thread <b>title</b><br/>
			<input type="text" maxlength="30" name="title" style="width: 35%"/><br/><br/>
			Your <b>username</b><br/>
			<input type="text" name="name" maxlength="30" style="width: 25%"></input><br/><br/>
			Your <b>comment</b><br/>
			<textarea name="content" rows="4" cols="50" form="comment"></textarea><br/><br/>
			<input type="submit" style="height:50px; width:100px" value="Post"/>
		</form>
	</center>
	</body>
</html>